.logtime-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logtime-time {
  font-feature-settings: "tnum";
}

.logtime-date-form {
  border-bottom: 1px solid rgba(0,186,188,0.7);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.logtime-date-form .logtime-item:not(:last-child) {
  padding-bottom: 3px;
}

.logtime-date-form label {
  margin-bottom: 0;
}

.logtime-date-form input {
  color: #00babc;
  border: 1px solid rgba(0,186,188,0.7);
  border-radius: 0;
  min-width: 110px;
}

.logtime-date-form input:hover,
.logtime-date-form input:focus {
  color: #333333;
  border: 1px solid rgba(51,51,51,0.7);
}

#logtimeDropdownMenu {
  font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.428571429;
  color: #333333;
  top: 21px;
  padding: 5px;
  min-width: 160px;
}
